[Unit]
Description=joura - send systemd log to telegram
After=network.target

Requires=network.target

[Service]
StartLimitInterval=5
StartLimitBurst=10

ExecStart=/usr/local/joura/joura -c /etc/joura/joura.conf
KillMode=process

Restart=on-failure

[Install]
WantedBy=multi-user.target
